<nav>
    <a (click)="goToSection(section1)">Section 1</a>
    <a (click)="goToSection(section2)">Section 2</a>
    <a (click)="goToSection(section3)">Section 3</a>
  </nav>
  
  <div class="container-slides" id="container" dir="ltr">
  
  
    <section #section1 class="btnSection" id="section-1" >
        Seccion 1
    </section>
    
    <section #section2 class="btnSection" id="section-2">
        Seccion 2
    </section>
    
    <section #section3 class="btnSection" id="section-3">
        Seccion 3
    </section>
  
  </div>