
 <div class="slide-menu-items">
    <div (click)="goToSection(section1)" class="menu-option">Section 1</div>
    <div (click)="goToSection(section2)" class="menu-option">Section 2</div>
    <div (click)="goToSection(section3)" class="menu-option">Section 3</div>
    <div (click)="goToSection(section4)" class="menu-option">Section 4</div>
    <div (click)="goToSection(section5)" class="menu-option">Section 5</div>
    <div (click)="goToSection(section6)" class="menu-option">Section 6</div>
  </div>
  


  <div class="container-slides" id="container" dir="ltr">
  
  
    <section #section1 class="btnSection" id="section-1" >
        <div class="items">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </section>
    
    <section #section2 class="btnSection" id="section-2">
        Seccion 2
    </section>
    
    <section #section3 class="btnSection" id="section-3">
        Seccion 3
    </section>

    <section #section4 class="btnSection" id="section-4">
        Seccion 4
    </section>

    <section #section5 class="btnSection" id="section-5">
        Seccion 5
    </section>

    <section #section6 class="btnSection" id="section-6">
        Seccion 6
    </section>

    
  
  </div>